@model devfestweekend.Models.FeaturedEvent
<li class="expandable">
    <div class="row">
        <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2">
            <div class="schedule-info">
                <h2>@Model.Title</h2>
                <div class="schedule-summary">
                    <p>@Model.Description</p>
                </div>
                <ul class="gb-list">
                    @if (Model.IsAllDay)
                    {
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>All Day</span></li>
                    }
                    else
                    {
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Time:</span> @Model.StartTime.Value.ToString("HH:mm tt") - @Model.EndTime.Value.ToString("HH:mm tt")</li>
                    }

                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Venue:</span> @Model.LocationName</li>
                </ul>
            </div>
        </div>
    </div>
</li>
