@page
@model _EventModel
                        <div class="col-sm-6 col-md-3">
							<div class="event">
								<div class="gb-time color-red">
									<p>@Model.Date.Day <span>@Model.Date.ToString("MMM")</span></p>
								</div>
								<div class="event-info">
									<h2>@Model.Title</h2>
									<address><p>@Model.SubTitle</p></address>
									<a href="@Model.LinkUrl" class="btn btn-default">@Model.LinkText</a>
								</div>
							</div>
						</div>