@page
@model devfestweekend.Pages.ScheduleModel
@{
    ViewData["Title"] = "Schedule";
    Layout = "_Layout";
}

<div class="gb-breadcrumb gb-bg white-color schedule-bg">
    <div class="container">
        <div class="breadcrumb-info text-center">
            <div class="page-title">
                <h1>
                    <span class="before-top"></span>
                    <span>Schedule</span>
                    <span class="before-bottom"></span>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Schedule</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.gb-breadcrumb -->

<div class="gb-schedules gb-section text-center">
    <div class="container">
        <div class="schedule-content text-left">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#one" aria-controls="one" role="tab" data-toggle="tab" aria-expanded="true">
                        <span>Schedule</span>
                    </a>
                </li>
                @{ 
                    var index = 0;
                    foreach (var track in Model.Tracks)
                    {
                        <li role="presentation">
                            <a href="#@Model.Tabs[index]" aria-controls="@Model.Tabs[index]" role="tab" data-toggle="tab" aria-expanded="true">
                                <span>@track.Room.Name</span>
                            </a>
                        </li>
                        index++;
                    }
                }
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="one">
                    <div class="schedule">
                        <ul class="gb-list">
                            @if (Model.Events != null)
                            {
                                foreach (var featuredEvent in Model.Events)
                                {
                                    @Html.Partial("Events/FeaturedEvent", featuredEvent)
                                }
                            }
                        </ul>
                    </div><!-- /.schedule -->
                </div>
                @{
                    var tabIndex = 0;
                    foreach (var track in Model.Tracks)
                    {
                        <div role="tabpanel" class="tab-pane fade in" id="@Model.Tabs[tabIndex]">
                            <div class="schedule">
                                <ul class="gb-list">
                                    @foreach (var session in track.Sessions)
                                    {
                                        @Html.Partial("Events/Session", session)
                                    }
                                </ul>
                            </div><!-- /.schedule -->
                        </div>
                        tabIndex++;
                    }
                }
            </div>
        </div><!-- /.schedule-content -->
    </div><!-- /.container -->
</div><!-- /.gb-section -->